* {
    font-family: sans-serif;
}

body {
    margin: 0;
}

.container {
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

#mapLink:hover {
    font-weight: bold;
}

#mapLink {
    color: #2186e4;
    text-decoration: none;
}

#mapLink:visited {
    color: #2186e4;
}

#mapLink:hover {
    font-weight: bold;
}

#mapLink {
    color: #2186e4;
    text-decoration: none;
}

#mapLink:visited {
    color: #2186e4;
}

iframe {
    width: 600px;
    height: 450px;
    border: 0;
    padding-top: 50px;
    padding-bottom: 25px;
}



footer {
    display: flex;
    position: fixed;
    bottom: 0;
    flex-direction: row;
    background: #2186e4;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100px;
    width: 80%;
    margin-left: 20%;
}

@media(max-height: 925px) {
    footer {
        position: relative;
    }
}
@media(max-width: 700px) {
    iframe {
        width: 400px;
        height: 225px;
        border: 0;
        padding-top: 50px;
        padding-bottom: 25px;
    }

    footer {
        position: fixed;
        bottom: 0;
        margin-left: 0;
        width: 100%;
        margin: 0;
    }

    @media(max-height:675px) {
        footer {
            position: relative;
        }
    }
}