*{
    font-family: sans-serif;
}

body{
    margin: 0;
}

.container{
    margin-left: 15%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.nav-bar{
    position: fixed;
    top: 0;
    left: 0;
    width: 15%;
    height: 100%;
    background-color: gray;
    display: flex;
    order: 1;
    flex-direction: column;
    align-items: left;
    overflow: hidden;
}

.nav-bar a{
    display: inline-block;
    text-decoration: none;
    padding: 5px 15px;
    font-size: 0.9em;
    font-weight: bold;
    color: #222c6a;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.nav-bar a:hover{
    background-color: #ddd;
    color: black;
}

.nav-bar a.active{
    background-color: #2186e4;
    color: white;
}

@media(max-width: 700px){
    .nav-bar{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 60px;
        background-color: gray;
        display: flex;
        flex-direction: row;
        align-items: left;
        overflow: visible;
    }
    .nav-bar a{
        /*display: inline-block;*/
        color: #222c6a;
        text-align: center;
        padding: 14px 2px;
        text-decoration: none;
        font-size: 10px;
    }
    .container{
        margin-top: 75px;
        margin-left: 0px;
    }
}

#mapLink:hover{
    font-weight: bold;
}
#mapLink{
    color: #2186e4;
    text-decoration: none;
}
#mapLink:visited{
    color: #2186e4;
}

iframe{
    width: 600px;
    height: 450px;
    border: 0;
    padding-top: 50px;
    padding-bottom: 25px;
}

#copyrights{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-small;
    text-align: center;
}