*{
    font-family: sans-serif;
}

body{
    margin: 0;
}

.container{
    margin-left: 20%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: Left;
    border: black solid 2px;
    width: 25%;
    height: 400px;
    border-radius: 10px;
    margin: 20px;
}

.card img{
    object-fit: cover;
    width: 100%;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.bodyText{
    width: 100%;
    border: black solid 2px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;

}

.bodyText p{
    padding-left: 5px;
    font-size: larger;
}

.firstPar{
    width: 100%;
    font-weight: bold;
    font-size: x-large;
}

.links{
    list-style: none;
}

.links a,.links a:visited, .bodyText a{
    text-decoration: none;
    color: #2186e4;
}

.links a:hover, .bodyText a:hover{
    font-weight: bold;
}

@media(max-width: 1100px){
    .card{
        display: flex;
        flex-direction: column;
        align-items: Left;
        border: black solid 2px;
        flex: 40%;
        height: 400px;
        border-radius: 10px;
        margin: 20px;
    }
}