*{
    font-family: sans-serif;
}

body{
    margin: 0;
}

.card-container {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 1.5);
    border-radius: 5px; /* 5px rounded corners */
    padding: 2px 16px;
    text-align: center;
    margin-top: 10px;
}

.image{
    display: flex;
    align-self: center;
    width: 700px;
    height: 500px;
    object-fit: fill;
}

.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

